{% load crispy_forms_filters %}
{% load  static %}
{% load crispy_forms_tags %}

<div class="detail-container p-3">
    <form method="post" action="">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-danger" type="reset" name="cancel" value="Cancel">
        <input class="btn btn-success" type="submit" name="submit" value="Submit comment">
    </form>

</div>


{% for comment in object.comment_set.all %}
    <div class="container">
    <p class=""><img class="float-left profile-img rounded-circle mr-3 mt-3" src="{{ comment.username.profile.image.url }}"><b>{{ comment.username.username }}</b><span> {{ comment.timestamp }}</span></p>
    <p class="">{{ comment.content }}
    <button class="btn-sm btn-info" onclick="getElementById('com-{{ comment.id }}').style.display = 'block';">Reply</button>
    </p>

    <form id="com-{{ comment.id }}" class="reply-form" method="post" action="">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn-danger" type="reset" name="cancel" value="Cancel" onclick="getElementById('com-{{ comment.id }}').style.display = 'none';">
        <input class="btn-success" type="submit" name="submit" value="Submit comment">
    </form>
    </div>
{% endfor %}