* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*a {*/
/*    text-decoration: none;*/
/*}*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

html {
    font-size: 20px;
    font-family: monospace;
    font-weight: 10;
    text-rendering: optimizeLegibility;
    color:#e8d9a7;
}

body {
    background-color: black;
}



/*------------------------------gallery------------------------------*/

.main-frame {
    height: 100%;
    background-color: #383737;
    color: wheat;
    border-radius: 10px;
}

.game-gallery {
    height: 100vh;
    overflow: auto;
}

.game-info {
    background-color: grey;
    color: wheat;
    height: 200px;
    border-radius: 10px;
}

.game-info a {
    text-decoration: none;
    color: wheat;
}

.purchase-info {
    padding: 1vh;
}

.game-name {
    font-size: larger;
    color: inherit;
}

.pic-section {
    width: 100%;
}


.pic-list {
    list-style: none;
    width: 100%;

}


.pic-list li {
    display: block;
    padding: 1vh 1vh;
    width: 33.3%;
    float: left;

}

.single-game-block {
    height: 600px;
    border-radius: 10px;
}

.cake-pic {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
    position: relative;
    border-radius: 10px;

}

.cake-pic img {
    width: 100%;
    height: 400px;
    transform: scale(1.3);
    transition: transform 0.5s, opacity 0.5s;
}

.cake-pic:hover .btn {visibility: visible}
/*.cake-pic .btn:hover ~ .btn {visibility: visible}*/


.cake-pic img:hover {
    transform: scale(1.03);
    opacity: 0.5;
}


.cake-pic .btn:hover {
    background-color: black;
}

.cake-pic .btn {
    position: absolute;
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    visibility: hidden;
}

#edit {
    top: 40%;
    left: 50%;
    transform: translate(-40%, -50%);
    -ms-transform: translate(-40%, -50%);
}

#delete {
    top: 60%;
    left: 50%;
    transform: translate(-40%, -50%);
    -ms-transform: translate(-60%, -50%);
}


.price {
    width: auto;
    float: left;
    margin: 0;
    font-size: larger;
    /*text-align: center;*/
}

/*----------------------------filter/search----------------------*/

.search-box {
    float:right;
}

#genre-select {
    display: none;
}

/*----------------------------SCROLLBAR----------------------*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    visibility: hidden;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/*----------------------------game detail----------------------*/

.detail-container {
    color: wheat;
}

.detail-container img {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
}

/*---------------------------- comments ----------------------*/


.reply-form {
    display: none;
}

.profile-img {
    display: block;
    max-width: 55px;
    max-height: 55px;
    width: auto !important;
    height: auto !important;
}

.comment-info {
    overflow: auto;
    height: auto;
}

.comment-info span {
    font-size: 15px;
}

.reply-button {
    display: inline !important;
    font-size: 1rem !important;
}

.reply-button :hover {
    cursor: pointer;
}

/*----------------------------current order----------------------*/

.cart-item-qty {
    border: none;
    color: inherit;
    background-color: inherit;
    font-weight: 300;
    text-align: center;
    width: 50px;
}
