* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

html {
    font-size: 20px;
    font-family: monospace;
    font-weight: 10;
    text-rendering: optimizeLegibility;
    color:#e8d9a7;
}



/*.grey-frame {*/
/*    background-color: grey;*/
/*}*/

/*------------------------------gallery------------------------------*/

.pic-section {
    width: 100%;
}


.pic-list {
    list-style: none;
    width: 100%;

}


.pic-list li {
    display: block;
    width: 33.3%;
    float: left;
    padding: 0;

}


.cake-pic {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
    position: relative;

}

.cake-pic img {
    width: 100%;
    height: 400px;
    transform: scale(1.3);
    transition: transform 0.5s, opacity 0.5s;
}

.cake-pic:hover .btn {visibility: visible}
/*.cake-pic .btn:hover ~ .btn {visibility: visible}*/


.cake-pic img:hover {
    transform: scale(1.03);
    opacity: 0.5;
}


.cake-pic .btn:hover {
    background-color: black;
}

.cake-pic .btn {
    position: absolute;
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    visibility: hidden;
}

#edit {
    top: 40%;
    left: 50%;
    transform: translate(-40%, -50%);
    -ms-transform: translate(-40%, -50%);
}

#delete {
    top: 60%;
    left: 50%;
    transform: translate(-40%, -50%);
    -ms-transform: translate(-60%, -50%);
}


.price {
    width: 50%;
    height: 100%;
    float: left;
    margin: 0;
    /*text-align: center;*/
}
