{% extends 'base.html' %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

{#{% load staticfiles %}#}
{#{% load bootstrap3 %}#}

{% block content %}
    <div class="container below">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="" value="Login">
        </form>
    </div>
{% endblock %}

