{% load static %}
{% load custom_tags %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'games/main.css' %}">
    <title>Base</title>
</head>


<body>
    <nav id="mynav" class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="{% url 'games:home' %}">Game Store</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'games:home' %}">Games</a>
          </li>

            <li class="nav-item">
            <a class="nav-link" href="#">Community</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#" >About</a>
          </li>

            <li class="nav-item">
            <a class="nav-link" href="#">Support</a>
          </li>
        </ul>
          {% if user.is_authenticated %}

              <div class="form-inline my-2 my-lg-0"></div>
                  <a class="nav-link" href="#" >{{ user.first_name }} {{ user.last_name }}</a>
                  <a class="nav-link" href="#" ><ion-icon name="cart-outline"></ion-icon></a>
                  <a class="nav-link" href="{% url 'logout' %}" >Log Out</a>
              </div>
          {% else %}
              <div class="form-inline my-2 my-lg-0">
                  <a class="nav-link" href="{% url 'login' %}" >Log In</a>
                  <a class="nav-link" href="{% url 'signup' %}" >Sign In</a>
              </div>
          {% endif %}

    </nav>





<div class="jumbotron">
{#    {% if request.user|has_group:'managers' %}#}
        <a class="btn btn-success" href="{% url 'games:add' %}" >Add game</a>
{#    {% endif %}#}

    {% block filter %}
    {% endblock %}

    {% block content %}
    {% endblock %}
</div>


<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>