{% extends 'base.html' %}
{% load custom_tags %}
{% load crispy_forms_tags %}

{#only displayed on FILTER pages#}
{% block filter %}
{#    <h3>{{ request.resolver_match.kwargs.slug.capitalize }}</h3>#}
{% endblock %}



{% block content %}
    <div class="main-frame">
        <div class="pt-2">
            {% if request.user|has_group:'managers' %}
                <a class="btn btn-success" href="{% url 'games:add' %}" >Add game</a>
            {% endif %}

            <button class="btn " onclick="$('#genre-select').toggle(); ">Genre</button>

            <form class="search-box form-inline my-lg-0" action="{% url 'games:search' %}" method="get">
                {{ form_search|crispy }}
            </form>

            <div class="" id="genre-select">
                <form class="form-inline my-lg-0" action="{% url 'games:filter' %}" method="get">
                    <div>
                        <input class="btn btn-info" type="submit" value="Filter">
                    </div>
                    {{ form_filter|crispy}}
                </form>
            </div>
        </div>


        <div class="game-gallery mt-2">

                <section id='gallery' class='pic-section'>
                    <ul class='pic-list top'>
                        {% for game in games %}
                            <li>
                            <div class="single-game-block">
                                <div class='cake-pic'>
                                    <img src="{{ game.image.url }}" alt="{{ game.name }}">
                                    {% if request.user|has_group:'managers' %}
                                        <a id="edit" class="btn" href="{% url 'games:edit' game.id %}">Edit game</a>
                                        <a id="delete" class="btn" href="{% url 'games:delete' game.id %}">Delete game</a>
                                    {% endif %}
                                </div>

                                <div class="game-info">
                                    <div class="purchase-info">
                                        <p class="price">${{ game.price }}</p>
                                            {% if game.id|slugify in request.session.cart %}
                                                <a id="buy-button" data-index="{{ game.id }}" class="btn btn-success float-right" href="{% url 'order:order-current' %}"><ion-icon name="cart-outline"></ion-icon></a>
                                            {% else %}

                                                {% if game.quantity_available < 1 %}
                                                    <button disabled class="btn btn-dark float-right" href="#">Buy</button>
                                                    <p class="text-sm-center">Out of Stock</p>
                                                {% else %}
                                                    <a id="buy-button" data-index="{{ game.id }}" class="btn btn-success float-right add-to-cart-home" href="{% url 'order:add-to-cart' %}">Buy</a>
                                                    <p class="text-sm-center">Available</p>
                                                {% endif %}
                                            {% endif %}

                                    </div>

                                    <div class="game-data p-2">
                                        <div class="game-genre">
                                            {% if game.genre.all %}
                                                <p>{% for genre in game.genre.all %}
                                                    <a href="{% url 'games:filter' genre.pk %}">{{ genre }}</a>
                                                {% endfor %}</p>
                                            {% endif %}
                                        </div>

                                        <div class="game-name">
                                            <a href="{% url 'games:detail' game.id %}"><b>{{ game.name }}</b></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </li>
                        {% endfor %}
                    </ul>
                </section>
        </div>

    </div>

    <script>
        $(document).on('click', '.add-to-cart-home', function (e) {
            e.preventDefault();
            let itemId = $(this).data('index');
            $.ajax({
                type: 'POST',
                url: '{% url "order:add-to-cart" %}',
                data: {
                    gameId: itemId,
                    gameQty: 1,
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    action: 'post',
                },
                success: function (json) {
                    document.getElementById('cart-qty').innerHTML = json.qty;
                    let addedItem = $('#buy-button[data-index="' + itemId + '"');
                    addedItem.html('<ion-icon name="cart-outline">');
                    addedItem.attr('href', '{% url "order:order-current" %}');
                    addedItem.removeClass('add-to-cart-home');
                    mbar('Item added to Cart', 'info');
                },
                error: function (xhr, errmsg, err) {

                }

            });


        })

    </script>

{% endblock %}